apiVersion: v1
kind: Service
metadata:
  name: alert-db
spec:
  clusterIP: None
  selector:
    app: alert-db
  ports:
    - port: 5432
---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: alert-db
spec:
  serviceName: "alert-db"
  replicas: 1
  selector:
    matchLabels:
      app: alert-db
  template:
    metadata:
      labels:
        app: alert-db
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          env:
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: db-config
                  key: ALERT_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: password
          ports:
            - containerPort: 5432
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "postgres"]
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            exec:
              command: ["pg_isready", "-U", "postgres"]
            initialDelaySeconds: 20
            periodSeconds: 20
          volumeMounts:
            - name: alert-db-pvc
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: alert-db-pvc
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
